body {
    background-color: #9addd3;
    padding: 10px;
    padding-left: 450px;
    padding-top: 40px;
}

.Text {
    border-bottom: solid 5px #4a9be7;
    border-left: solid 5px #076889;
    background-color: #2678dc;
    color: #81e6f8;
    width: 45%;
    padding: 10px;
}

.img {
    border: double 10px #9af5ff;
    padding: 0px;
}